<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <welcome-file-list>
        <welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>htmltopdf</servlet-name>
        <servlet-class>ro.appengine.server.Htmltopdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>htmltopdf</servlet-name>
        <url-pattern>/render.pdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>exec</servlet-name>
        <servlet-class>ro.appengine.server.Exec</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exec</servlet-name>
        <url-pattern>/exec</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ro_appengine_server_InitServlet</servlet-name>
        <servlet-class>ro.appengine.server.InitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ro_appengine_server_InitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>exec</web-resource-name>
            <url-pattern>/exec</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>-->
</web-app>
