<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013 Asociatia AppEngine . All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You may
  ~ obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ro_appengine_server_Htmltopdf</servlet-name>
        <servlet-class>ro.appengine.server.Htmltopdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ro_appengine_server_Htmltopdf</servlet-name>
        <url-pattern>/render.pdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ro_appengine_server_Exec</servlet-name>
        <servlet-class>ro.appengine.server.Exec</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ro_appengine_server_Exec</servlet-name>
        <url-pattern>/exec</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ro_appengine_server_InitServlet</servlet-name>
        <servlet-class>ro.appengine.server.InitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ro_appengine_server_InitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <!--this doesn't get called-->
        <servlet-name>ro_appengine_server_InitServlet</servlet-name>
        <url-pattern>/_ah/warmup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ro_appengine_server_Login</servlet-name>
        <servlet-class>ro.appengine.server.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ro_appengine_server_Login</servlet-name>
        <url-pattern>/_ah/login_required</url-pattern>
    </servlet-mapping>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>exec</web-resource-name>
            <url-pattern>/exec</url-pattern>
            <url-pattern>/admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
